/* ------------------- HEADER ------------------- */
.container-fluid {
    background-color: #F3E9F1;
}

.navbar a {
    color: black;
}

/* ------------------- FOOTER ------------------- */
.list-inline {
    margin-top: 16px;
}

.list-inline-item a {
    color: black;
}

footer {
    margin-top: 100px;
}

/* ------------------- INDEX ------------------- */
#welcome {
    margin: 50px auto;
}

#welcome h1 {
    font-size: 30px;
}

.teddy-card img {
    margin: auto;
}

.col-md-4 .card {
    margin: 20px;
}

/* ------------------- PRODUIT ------------------- */
.bloc-1 {
    margin-top: 20px;
}

.card .mb-3 {
    max-width: 540px;
}

/* ------------------- PANIER ------------------- */
#cart-card {
    margin: 50px 0;
}
tr img {
    max-height:50px;
}
  
.message {
    font-weight: bold;
    font-style: italic;
}

form {
    margin: 30px 0;
}
